/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1{
    color: white;
    margin: 30px auto;
    font-size: 30px;
    text-align: center;
}

/* || CALCULATOR */
#calculator{
	border: 1px solid black;
	width: 450px;
	height: 665px;
	background-color: #1A181B;
	margin: 0 auto;
	position: relative; 
}
#display{
	height: 100px;
	display: flex;
	justify-content: end;
	margin: 15px 15px 10px 15px;
	background-color: hsl(0 0% 50%);
	border-radius: 6px;

}
#displayNumber{
	margin: 0 10px;
	font-size: 50px;
	align-self: center;	
	color: white;
	font-family: arial;
}

#numberButtons{
	/* outline: 1px solid green; */
	direction: rtl;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 300px;
	margin-left: 30px;
	
}
.numberButton{
	height: 100px;
	width: 100px;
	background-color: #2274A5;
	border: none;
	font-size: 50px;
	margin: 3px;
}
.numberButton:hover{
	opacity: 60%;
}
#decimalButton{
	width: 206px;
	grid-column-end: span 2;
}
#clearButton{
	width: 206px;
	grid-column-end: span 2;
}

#operatorButtons{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	bottom: 10px;
	margin-right: 12px;
}
.operatorButton{
	height: 100px;
	width: 100px;
	background-color: #1DD3B0;
	border: 1px solid black;
	font-size: 50px;
	/* border-radius: 50px; */
	margin: 3px;
}
.operatorButton:hover{
	opacity: 60%;
}